<a href="https://colab.research.google.com/github/Amit-Singh-BishtML/Amit-Singh-BishtML/blob/main/Rock_vs_mine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection & data processing

In [ ]:
sonar_data = pd.read_csv('ROCK_OR_MINE.csv', header = None)

In [ ]:
sonar_data.tail()
sonar_data[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

In [ ]:
sonar_data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

separating data and labels

In [ ]:
X = sonar_data.drop(columns = 60 , axis =1)
y = sonar_data[60]
print(X)
y

testing and training

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, stratify=y, random_state= 1)

model training

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train,y_train)

LogisticRegression()

model accuracy

In [ ]:
training_prediction = model.predict(X_train)
training_accuracy = accuracy_score(training_prediction, y_train)
print(training_accuracy)

0.8342245989304813

Real prediction

In [ ]:
test_prediction=model.predict(X_test)
test_accuracy = accuracy_score(test_prediction,y_test)
test_accuracy

0.7619047619047619

Making a predictive system

In [ ]:
#converting into a numpy array
input_data=(0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,0.2988,0.4250,0.6343,0.8198,1.0000,0.9988,0.9508,0.9025,0.7234,0.5122,0.2074,0.3985,0.5890,0.2872,0.2043,0.5782,0.5389,0.3750,0.3411,0.5067,0.5580,0.4778,0.3299,0.2198,0.1407,0.2856,0.3807,0.4158,0.4054,0.3296,0.2707,0.2650,0.0723,0.1238,0.1192,0.1089,0.0623,0.0494,0.0264,0.0081,0.0104,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062)
i_d_as_nparray = np.asarray(input_data)
#reshape the numpy array as we are predicting for one instance
input_data_reshaped = i_d_as_nparray.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
if (prediction[0] == 'R'):
  print('the object is a rock')
else:
    print('the object is a mine')

the object is a rock